@media only screen and (max-width: 600px) {
  .picture {
    display: none;
  }
}

.App {
  /* text-align: center; */
  min-height: 100vh;
}

.date {
  /* background: red; */
  width: 90%;
  margin:auto;
  border-bottom: 1px solid #04D700;
  padding-left: 3%;
  margin-bottom: 1%;
  margin-top: 1%;
}

.postContainer {
  display: flex;
  width: 75%;
  margin: auto;
  margin-bottom: 3%;
  justify-content: space-evenly;
}

.picture {
  margin-top: 1%;
  min-width: 40%;
  /* min-height: 5%;
  max-height: 10%; */

}

.content {
  margin-left: 2%;
}
